    /* Cambiar color cuando el switch está activado */
    .custom-control-input:checked+.custom-control-label::before {
        background-color: #28a745 !important;
        border-color: #28a745 !important;
    }

    /* Rojo para switch-danger */
    .custom-control-input.switch-danger:checked+.custom-control-label::before {
        background-color: #dc3545 !important;
        border-color: #dc3545 !important;
    }

    /* Amarillo para switch-warning */
    .custom-control-input.switch-warning:checked+.custom-control-label::before {
        background-color: #ffc107 !important;
        border-color: #ffc107 !important;
    }

    /* Estilos básicos del toggle button */
    .entrada-salida-switch {
        display: none !important;
        /* Ocultamos el checkbox original */
    }

    /* Estilo del label para que sea un botón */
    .entrada-salida-switch+.custom-control-label {
        display: inline-block;
        background-color: #28a745!important;
        /* Verde para entrada */
        color: #fff;
        padding: 8px 5px;
        /*border-radius: 50px;*/
        cursor: pointer;
        transition: background-color 0.3s ease;
        text-align: center;
        font-weight: bold;
    }

    /* Estilo cuando el switch está activado (Salida) */
    .entrada-salida-switch:checked+.custom-control-label {
        background-color: #dc3545;
        /* Rojo para salida */
    }

    /* Transición suave para el cambio de color */
    .entrada-salida-switch:checked+.custom-control-label {
        background-color: #dc3545 !important;
        /* Rojo para salida */
    }


    .custom-file-input {
        display: none;
        /* Oculta el input */
    }

    .custom-file-label {
        background-color: rgb(23, 162, 184);
        /* bg info */
        color: white;
        padding: 10px;
        cursor: pointer;
        border-radius: 5px;
        display: inline-block;
        text-align: center;
        width: 90%;
    }

    .custom-file-label:hover {
        background-color: #0056b3;
    }

    /* Color verde cuando hay archivo seleccionado */
    .file-selected {
        background-color: #28a745 !important;
        /* Verde Bootstrap */
        color: white !important;
    }

    /* Asegurar que el label no muestre "Browse" en algunos navegadores */
    .custom-file-label::after {
        content: "" !important;
        /* Borra el "Browse" predeterminado en los input type file*/
    }